/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.textsubmit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: x-large;
    margin: 10em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.textsubmit-item {
    text-align: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: .5em;
    padding: auto;
}

#video-label {
    padding-bottom: 0em;
}

#video-input {
    height: 3em;
}


.video-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.video-control-item {
    width: 20%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 2em;
    background-color: cornflowerblue;
    font-size: x-large;
}