.textsubmit {
    display: flex;
    align-items: center;
    font-size: x-large;
    padding: 7em;
    flex-direction: column;
    width: auto;
}

.textsubmit-item {
    text-align: center;
    flex-shrink: 0;
    width: 50%;
    min-width: max-content;
    padding: .5em;
    margin: 1em;
}

#video-label {
    padding-top: 0em;
    padding-bottom: 0em;
}

#video-input {
    height: 3em;
}

#video-submit {
    
}

.video-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-control-item {
    width: 20%;
    flex-shrink: 0;
    padding: 2em;
    background-color: cornflowerblue;
    font-size: x-large;
}
