* {
    outline: 1px solid black;
}

.flex-page {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}


.search-form {
    margin-left: 3%;
    align-self: flex-start;
    min-width: 100%;
}

.search-item {
    height: 4em;
    margin-bottom: 3em;
    margin-top: 3em;
}

#search {
    min-width: 60%;
    margin-left: 0;
}

#search-button {
    width: 4em;
}


.textsubmit {
    min-width: 80%;
    display: flex;
    align-items: center;
    min-height: 30%;
    padding-top: 2em;
    flex-direction: column;
    width: auto;
}

.textsubmit-item {
    text-align: center;
    font-size: xx-large;
    flex-shrink: 0;
    width: 80%;
    min-width: 80%;
    padding: .5em;
    margin: 1em;
    margin-top: 0em;
    padding-top:  0em;
}

#video-label {
    padding-top: 0em;
    padding-bottom: 0em;
}

#vidURL {
    height: 3em;
}

#videosubmit-buttons {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


.videosubmit-button {
    flex-shrink: 0;
    font-size: x-large;
    height: 25%;
    width: 40%;
    padding: 3em;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    background-color: cornflowerblue;
}

.video-controls {
    min-width: 80%;
    display: flex;
    min-height: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3em;
}

.video-control-item {
    width: 30%;
    height: 25%;
    flex-shrink: 0;
    padding: 1em;
    margin: 1em;
    background-color: cornflowerblue;
    font-size: x-large;
}
