<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Streamio</title>
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
  <script src="/scripts/video-interaction.js"></script>
</head>

<body>
  <div class="flex-page">
    <form class="search-form" action="/streamio/search" method="GET">
      <input id="search" class="search-item" type="text" name="search" placeholder="Search">
      <input id="search-button" class="search-item" type="submit" value="Go">
    </form>
    <form class="textsubmit" method="GET">
      <input class="textsubmit-item" type="url" id="vidURL" name="vidURL" placeholder="Video Link">
      <div id="videosubmit-buttons">
        <button class="videosubmit-button" type="submit" formaction="/streamio/play">Play</button>
        <button class="videosubmit-button" type="submit" formaction="/streamio/episodes">Show Episodes</button>
      </div>
    </form>
    <div class="video-controls">
      <button class="video-control-item" type="button" class="flex-item" onclick="doAction('pause')">Pause</button>
      <button class="video-control-item" type="button" class="flex-item" onclick="doAction('play')">Play</button>
      <button class="video-control-item" type="button" class="flex-item" onclick="doAction('kill')">Kill</button>
      <button class="video-control-item" type="button" class="flex-item" onclick="doAction('plus15s')">+ 15s</button>
      <button class="video-control-item" type="button" class="flex-item" onclick="doAction('minus15s')">- 15s</button>
    </div>
  </div>
  <text id="player-response"></text>
</body>

</html>      